
body{
  background-color: #cccccc;
  color: black;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
